<footer class="site-footer">
    <div>
        California State University Monterey Bay<br>
        School of Computing and Design<br>
        CST336 Internet Programming. 2026 &copy; Team 8: Randhawa, Yoon, Husain, Arias-Aceves
        <br>
        <strong>Disclaimer:</strong> This webpage was created for academic purposes only.<br>
    </div>
</footer>

<script src="/js/scripts.js"></script>
