<div id ="nav">
  <a href="/" class="logo">
     <span style="color: #e4633c">Pantry</span><span style="color: #47ab8d">Wizard</span>
  </a>
  
  <div class="nav-links">
    <a href="/search"> Search </a>
    <a href="/favorites"> Favorites </a>
    <a href="/about"> About </a>
  </div>
</div>