<%- include('partials/head') %>

<body>
    <%- include('partials/nav') %>

    <div class="body-div">
        <h1>Recipe Search</h1>
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Enter ingredients like chicken, rice, garlic, etc.">
            <input type="text" id="cuisineInput" placeholder="Cuisine, e.g. italian">
            <input type="text" id="dietInput" placeholder="Diet, e.g. vegetarian">
            <button id="searchButton">Search</button>
        </div>

        <div id="searchResults" class="search-results"></div>
    </div>

    <%- include('partials/footer') %>
</body>

</html>
